<!-- Hero Section -->
<section class="hero" style="background-image: url('../custom-assets/waves.webp'); overflow: hidden" loading="lazy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="fw-bold text-white">
                    Boostez vos résultats grâce à <br>
                    <span class="rotating-phrases">
                        <span class="phrase-block">
                            <span class="phrase">
                                <span class="word">une</span>
                                <span class="word">meilleure</span>
                                <span class="word">visibilité</span>
                            </span>
                        </span>
                        <span class="phrase-block">
                            <span class="phrase">
                                <span class="word">un</span>
                                <span class="word">meilleur</span>
                                <span class="word">référencement</span>
                            </span>
                        </span>
                        <span class="phrase-block">
                            <span class="phrase">
                                <span class="word">une</span>
                                <span class="word">meilleure</span>
                                <span class="word">relation</span>
                                <span class="word">client</span>
                            </span>
                        </span>
                    </span>
                </h1>
                <p class="mt-4 text-white">
                    Prenez une longueur d'avance sur vos concurrents avec nos solutions personnalisées.
                </p>
                <a href="#" class="btn">
                    Prendre rendez-vous →
                </a>

            </div>
        </div>

    </div>
</section>
<!-- Section client -->
<section class="clients-section" style="overflow: hidden;">
    <div class="tache-droite">
        <img src="../custom-assets/tache-droite.svg" alt="tache de fond" loading="lazy">
    </div>
    <div class="tache-gauche">
        <img src="../custom-assets/tache-gauche.svg" alt="tache de fond" loading="lazy">
    </div>
    <div class="container">
        <h2 class="section-title">Nos clients</h2>
        <!-- Balise span pour le soulignement -->
        <span class="underline"></span>
        <div class="clients-logos">
            <img src="../custom-assets/Calzoneria.webp" alt="Calzoneria Logo" loading="lazy">
            <img src="../custom-assets/AUC.webp" alt="AUC Logo" loading="lazy">
        </div>
    </div>
</section>
<!-- Section site web-->
<section class="site-web-section" style="overflow: hidden;">
    <div class="container" id="Web">
        <div class="site-web-content fade-in">
            <h2 class="site-web-title">Site web</h2>
            <img src="../custom-assets/soulignement-ref.svg" alt="Élément graphique de soulignement"
                class="underline-image-site" loading="lazy">
            <p>
                Un site web personnalisé est essentiel pour refléter votre marque et attirer vos clients. Que ce soit un
                site vitrine, une landing page ou un e-commerce, nous concevons des solutions sur mesure avec un design
                captivant, des performances techniques optimales et une UX irréprochable. Nous intégrons le SEO pour
                maximiser votre visibilité sur Google et transformer vos visiteurs en clients.
                <br>

                <br><b>Notre expertise web en 6 étapes :</b>

            <ul>
                <li>Analyse de vos besoins</li>
                <li>Design UX/UI moderne</li>
                <li>Développement technique rapide</li>
                <li>Optimisation SEO</li>
                <li>Tests rigoureux</li>
                <li>Lancement et suivi</li>
            </ul>
            </p>
            <a href="#" class="btn btn-primary">Je crée mon site web →</a>
        </div>
        <div class="site-web-image fade-in">
            <img src="../custom-assets/processus-création-site-web.webp"
                alt="Illustration des services de création de site web - Design, développement et optimisation"
                loading="lazy">
        </div>
    </div>
</section>

<!-- Section relation client-->

<section class="relation-client-section" style="overflow: hidden;">
    <div class="container" id="CRM">
        <div class="relation-client-image fade-in">
            <img src="../custom-assets/crm-explication.webp"
                alt="Illustration des avantages d'un CRM - Gestion de la relation client et automatisation"
                loading="lazy">
        </div>
        <div class="relation-client-content fade-in">
            <h2 class="relation-client-title">Relation client</h2>
            <span class="underline"></span>
            <p>
                Un CRM performant est essentiel pour centraliser vos données clients, automatiser vos processus et
                améliorer votre communication. Nous vous accompagnons dans le choix et l'implémentation d'une solution
                CRM personnalisée, optimisée pour booster votre productivité et accélérer la croissance de votre
                entreprise.

                <br><br><b>Nos atouts pour votre CRM :</b>
            <ul>
                <li>Centralisation des données clés</li>
                <li>Automatisation des tâches</li>
                <li>Amélioration de la satisfaction client</li>
                <li>Suivi stratégique pour maximiser vos résultats</li>
            </ul>
            </p>
            <a href="#" class="btn btn-primary">J'optimise ma relation client →</a>
        </div>
    </div>
</section>


<!-- Section Référencement -->
<section class="referencement-section" style="overflow: hidden;" id="SEO">
    <div class="container">
        <div class="referencement-content fade-in">
            <h2 class="referencement-title">Référencement</h2>
            <span class="underline"></span>
            <p>
                Le référencement (SEO) est crucial pour améliorer la visibilité de votre entreprise sur Google et
                attirer plus de clients. Nous optimisons les performances techniques, la structure et le contenu de
                votre site web pour vous positionner en tête des moteurs de recherche et dynamiser votre business en
                ligne.

                <br><br><b>Nos solutions SEO clés :</b>
            <ul>
                <li>Optimisation technique et structurelle</li>
                <li>Contenu stratégique pour les moteurs de recherche</li>
                <li>Résultats concrets pour une meilleure visibilité</li>
            </ul>
            </p>
            <a href="#" class="btn btn-primary">Je booste ma visibilité →</a>
        </div>
        <div class="referencement-image fade-in">
            <img src="../custom-assets/referencement-explication.webp"
                alt="Illustration des techniques de référencement SEO - Optimisation pour les moteurs de recherche"
                loading="lazy">
        </div>
    </div>
</section>


<section class="coupure-section" style="overflow: hidden;">
    <div class="coupure-tache-droite">
        <img src="../custom-assets/coupure-tache-droite.svg" alt="tache de fond" loading="lazy">
    </div>
    <div class="coupure-tache-gauche">
        <img src="../custom-assets/coupure-tache-gauche.svg" alt="tache de fond" loading="lazy">
    </div>
    <!-- Premier container avec le texte -->
    <div class="content-container">
        <p class="section-text">
            Vous avez <span class="highlight">un projet</span>, nous
        </p>
    </div>
    <!-- Deuxième container avec le texte -->
    <div class="content-container">
        <p class="section-text">
            avons <span class="highlight">la solution</span>.
        </p>
    </div>
    <!-- Bouton principal -->
    <a href="#" class="btn-primary">On se lance →</a>
</section>



<section class="commentaire-section" id="nos-clients">
    <div class="commentaire-titre">
        <h2>Les retours de <span>nos clients</span></h2>
    </div>
    <!-- Wrapper externe pour le Swiper et les flèches -->
    <div class="swiper-container-wrapper">
        <!-- Conteneur principal Swiper -->
        <div class="swiper carroussel-container">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="commentaire-container">
                            <img src="../custom-assets/Guillement.svg" alt="Image de guillemet" class="image-guillement"
                                loading="lazy">
                            <p class="commentaire">
                                Nous avons fait confiance à Coedo pour notre site web de notre club, et le rendu final
                                est parfait !
                            </p>
                        </div>
                        <hr class="separateur">
                        <div class="info-auteur">
                            <img src="../custom-assets/AUC.webp" alt="Logo club AUC Muay thai MMA Aix-en-Provence"
                                class="image-logo" loading="lazy">
                            <div class="details-auteur">
                                <h4 class="nom">Yannick B.</h4>
                                <p class="fonction">Coach MMA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="commentaire-container">
                            <img src="../custom-assets/Guillement.svg" alt="Image de guillemet" class="image-guillement"
                                loading="lazy">
                            <p class="commentaire">
                                Nous avons mis en place une stratégie de communication ainsi qu'une série de post
                                Instagram, au top !
                            </p>
                        </div>
                        <hr class="separateur">
                        <div class="info-auteur">
                            <img src="../custom-assets/Calzoneria.webp"
                                alt="Logo Calzoneria restauration aix en provence" class="image-logo" loading="lazy">
                            <div class="details-auteur">
                                <h4 class="nom">Antonio P.</h4>
                                <p class="fonction">Restauration</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 3 -->
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="commentaire-container">
                            <img src="../custom-assets/Guillement.svg" alt="Image de guillemet" class="image-guillement"
                                loading="lazy">
                            <p class="commentaire">
                                Ceci est un commentaire plus long pour tester l'affichage lorsque le texte augmente.
                            </p>
                        </div>
                        <hr class="separateur">
                        <div class="info-auteur">
                            <img src="../custom-assets/crm-explication.webp" alt="Logo 3" class="image-logo"
                                loading="lazy">
                            <div class="details-auteur">
                                <h4 class="nom">Test 1</h4>
                                <p class="fonction">Sous Teste 1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 4 -->
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="commentaire-container">
                            <img src="../custom-assets/Guillement.svg" alt="Image de guillemet" class="image-guillement"
                                loading="lazy">
                            <p class="commentaire">
                                Ceci est un commentaire plus long pour tester l'affichage lorsque le texte augmente.
                            </p>
                        </div>
                        <hr class="separateur">
                        <div class="info-auteur">
                            <img src="../custom-assets/referencement-explication.webp" alt="Logo AUC" class="image-logo"
                                loading="lazy">
                            <div class="details-auteur">
                                <h4 class="nom">Test 2</h4>
                                <p class="fonction">Sous test2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Boutons de navigation placés en dehors du conteneur Swiper -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>



<section class="contact-section" style="overflow: hidden;">
    <div class="container">
        <h2 class="contact-title">À votre tour, parlons de votre projet.</h2>
        <form action="https://formspree.io/f/YOUR_FORM_ID" method="POST" class="contact-form">
            <div class="form-group row">
                <input type="text" name="prenom" placeholder="Prénom" required>
                <input type="text" name="nom" placeholder="Nom" required>
            </div>
            <input type="email" name="email" placeholder="Email" required>
            <input type="tel" name="telephone" placeholder="Numéro de téléphone" required>
            <input type="text" name="objet" placeholder="Objet" required>
            <textarea name="message" placeholder="Message" rows="5" required></textarea>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</section>