<footer class="footer-section" style="overflow: hidden;" role="contentinfo">
    <div class="container">
        <div class="row">
            <!-- Colonne 1 : Logo et texte -->
            <div class="col-md-3">
                <div class="footer-logo">
                    <a href="/">
                        <img src="../custom-assets/Coedo logo sans fond 100x40px.png" alt="Coedo Logo" loading="lazy">
                    </a>
                </div>
                <p>Améliorer sa présence en ligne c'est améliorer la diffusion de ses valeurs.</p>
            </div>
            <!-- Colonne 2 : Nos services -->
            <div class="col-md-3">
                <h4>Nos services</h4>
                <ul class="footer-links">
                    <li><a href="#SEO">SEO & Référencement</a></li>
                    <li><a href="#Web">Création de site web</a></li>
                    <li><a href="#CRM">Implémentation CRM</a></li>
                </ul>
            </div>
            <!-- Colonne 3 : À propos -->
            <div class="col-md-3">
                <h4>À propos de Coedo</h4>
                <ul class="footer-links">
                    <li><a href="{{ site.baseurl }}/mentions-legales.html">Mentions légales</a></li>
                </ul>
            </div>
            <!-- Colonne 4 : Call-to-action -->
            <div class="col-md-3">
                <h4>Envie de renouveau ?</h4>
                <p>Prenez rendez-vous gratuitement pour un premier audit</p>
                <a href="#" class="btn-footer">Je me lance →</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy;2024 - Coedo</p>
        </div>
    </div>
</footer>